html
  head
    title Hello!
  body
      h1 Student list:

      ul
      each student in students
        li= (student.name + ", City: " + student.city.name) 

      form(action='/students', method='POST')
        p Add a new student!
        input(name='student_name')
        select(name='student_city')
          each city in cities
            option(value=city._id)
              = city.name
        input(type='submit')
